{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-left">
                <img src="{% static 'img/logo_unet_blanco.png' %}" alt="Logo UNET" id="logo">
                <span class="university-name">Universidad Nacional Experimental Del Táchira</span>
                <span class="university-name">Dirección de Recursos Humanos</span>
            </div>
            <div class="header-right">
                <h1>CONSULTA GRUPO FAMILIAR</h1>
            </div>
        </header>
        

        <main class="content">
            {% block content %}
            <!-- Aquí se insertará el contenido específico de cada página -->
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 Dirección de Recursos Humanos</p>
        </footer>
    </div>

    <script src="{% static 'app.js' %}"></script>
</body>
</html>
