{% if resultados %}
    <div class="table-responsive"> <!-- Contenedor de tabla con scroll horizontal -->
        <table>
            <thead>
                <tr>
                    <th>Cédula Titular</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Cédula Beneficiario</th>
                    <th>Parentesco</th>
                    <th>Sexo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Edad</th>
                    <th>Discapacidad o Condición Especial</th>
                    <th>Indicar Menor Bajo Custodia Legal</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in resultados %}
                    <tr>
                        <td>{{ registro.ci_titular }}</td>
                        <td>{{ registro.apellidos|default:" " }}</td>
                        <td>{{ registro.nombres|default:" " }}</td>
                        <td>{{ registro.ci_beneficiario|default:" " }}</td>
                        <td>{{ registro.parentesco|default:" " }}</td>
                        <td>{{ registro.sexo|default:" " }}</td>
                        <td>{{ registro.fecha_de_nacimiento|default:" " }}</td>
                        <td>{{ registro.edad|default:" " }}</td>
                        <td>{{ registro.discapacidad_o_condicion_especial|default:" " }}</td>
                        <td>{{ registro.indicar_menor_bajo_custodia_legal|default:" " }}</td>
                        <td>{{ registro.observacion|default:" " }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- Fin del contenedor de tabla -->
{% elif request.method == "POST" %}
    <p id="no-results">No se encontraron resultados.</p>
{% endif %}
